@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #FCC5C0;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #937DC2;
    float: none;
 }

header {
    background: #937DC2;
    padding: 16px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #937DC2;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }

.box {
    flex-grow: 1;
    background-color: #937DC2;
    margin: auto;
    border: 2px solid #C689C6;
    border-radius: 15px;
}

nav {
    padding: 5px;
    position: sticky;
    top: 0;
    
 }
 
 nav li {
    display: inline;
    list-style-type: none;
    margin: 7px;
    
 }

nav a{
    font-size: 18px;
    text-decoration: none;
    color: #FCC5C0;
    margin : 7px;
 }

nav a:hover {
    font-weight: bold;
}

.pacaran{
    margin-right: 10px;
    width: 100px;
    height: auto;
}

main{
    padding: 20px;
    margin : auto;
    background: #C689C6;
    overflow:auto;
}

footer {
    padding: 10px;
    color: #FCC5C0;
    text-align: center;
    font-weight: bold;
    background-color: #937DC2
 }

@media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
 }